@page
@model BenjaminCamacho.Pages.Account.UserActivityModel
@{
    ViewData["Title"] = SharedLocalizer.GetLocalizedHtmlString("Actividad de usuarios");
}

<div class="container-fluid">
    <partial name="_Breadcrumb" />
    <!-- Botones alineados a la izquierda -->
    <div class="d-flex flex-column align-items-start gap-2 mt-4 mb-3">
        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#estadoUsuarioModal">
            @SharedLocalizer.GetLocalizedHtmlString("Estado de usuario")
        </button>

        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#reiniciarPasswordModal">
            @SharedLocalizer.GetLocalizedHtmlString("Reiniciar contraseña")
        </button>

        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#asignarRolModal">
            @SharedLocalizer.GetLocalizedHtmlString("Asignar rol")
        </button>
    </div>


    @await Html.PartialAsync("_FormularioAsignarRol")
    @await Html.PartialAsync("_FormularioEstadoUsuario")
    @await Html.PartialAsync("_FormularioReiniciarContrasena")
    

    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            @SharedLocalizer.GetLocalizedHtmlString("Actividad de usuarios")
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>@SharedLocalizer.GetLocalizedHtmlString("Correo electrónico")</th>
                        <th>@SharedLocalizer.GetLocalizedHtmlString("Fecha de actividad")</th>
                        <th>@SharedLocalizer.GetLocalizedHtmlString("Actividad")</th>
                        <th>@SharedLocalizer.GetLocalizedHtmlString("Dirección IP")</th>
                        <th>@SharedLocalizer.GetLocalizedHtmlString("Estado")</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>@SharedLocalizer.GetLocalizedHtmlString("Correo electrónico")</th>
                        <th>@SharedLocalizer.GetLocalizedHtmlString("Fecha de actividad")</th>
                        <th>@SharedLocalizer.GetLocalizedHtmlString("Actividad")</th>
                        <th>@SharedLocalizer.GetLocalizedHtmlString("Dirección IP")</th>
                        <th>@SharedLocalizer.GetLocalizedHtmlString("Estado")</th>
                    </tr>
                </tfoot>
                <tbody>
                    <tr>
                        <td>maria.perez@prolimza.com</td>
                        <td>2025-03-29 08:45</td>
                        <td>Inicio de sesión</td>
                        <td>192.168.1.12</td>
                        <td>Exitosa</td>
                    </tr>
                    <tr>
                        <td>juan.gomez@prolimza.com</td>
                        <td>2025-03-29 09:12</td>
                        <td>Intento fallido de inicio</td>
                        <td>192.168.1.45</td>
                        <td>Fallida</td>
                    </tr>
                    <tr>
                        <td>laura.martinez@prolimza.com</td>
                        <td>2025-03-28 17:30</td>
                        <td>Cierre de sesión</td>
                        <td>192.168.1.33</td>
                        <td>Exitosa</td>
                    </tr>
                    <tr>
                        <td>carlos.rojas@prolimza.com</td>
                        <td>2025-03-27 10:03</td>
                        <td>Cambio de contraseña</td>
                        <td>192.168.1.78</td>
                        <td>Confirmada</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

    <div class="d-flex flex-column align-items-start gap-2 mt-4 mb-3">
        <button type="button" class="btn btn-outline-danger">
            @SharedLocalizer.GetLocalizedHtmlString("Exportar")
        </button>
    </div>

</div>
@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
    <script src="~/assets/demo/datatables-simple-demo.js"></script>
}
