@model IEnumerable<Prolimza.Models.Usuario>

@{
    ViewData["Title"] = "Usuarios";
}
<div class="geex-content__section geex-content__blank">
    <div class="container-center animate__animated animate__fadeIn">
        <div class="btn-wrapper">
            <a asp-action="Create" class="geex-btn geex-btn--primary-transparent">
                <i class="uil-plus"></i> Nuevo
            </a>
        </div>

        <table id="miTabla" class="display">
            <thead class="table-success">
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Nombre)</th>
                    <th>@Html.DisplayNameFor(model => model.Correo)</th>
                    <th>@Html.DisplayNameFor(model => model.contrasenaEncriptada)</th>
                    <th>@Html.DisplayNameFor(model => model.Rol)</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                        <td>@Html.DisplayFor(modelItem => item.Correo)</td>
                        <td>@Html.DisplayFor(modelItem => item.contrasenaEncriptada)</td>
                        <td>@Html.DisplayFor(modelItem => item.Rol.IdRol)</td>
                        <td>
                            <div class="dropdown">
                                <a class="btn btn-green dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Acciones
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item" asp-action="Edit" asp-route-id="@item.IdUsuario">Editar</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-action="Details" asp-route-id="@item.IdUsuario">Detalles</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-action="Delete" asp-route-id="@item.IdUsuario">Eliminar</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>