@model IEnumerable<Prolimza.Models.Alerta>

@{
    ViewData["Title"] = "Alertas";
}

<div class="geex-content__section geex-content__blank">
    <div class="container-center animate__animated animate__fadeIn">
<table id="miTabla" class="display">
    <thead class="table-success">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaAlerta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>

        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaAlerta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>


        </tr>
}
    </tbody>
</table>

    </div>
</div>
