@model Prolimza.Models.MateriaPrima

<div class="geex-content__double-column mb-40">
    <div class="geex-content__section geex-content__market">
        <div class="geex-content__section__header">
            <h4 class="geex-content__section__header__title">Información de la Materia Prima</h4>
        </div>
        <div class="geex-content__section__content geex-content__market__content">
            <div class="geex-content__market__single">
                <div class="geex-content__market__single__wrapper">
                    <div class="geex-content__market__single__content">
                        <h4 class="geex-content__market__single__title">@Html.DisplayFor(model => model.Nombre)</h4>
                        <p class="geex-content__market__single__subtitle">@Html.DisplayNameFor(model => model.Nombre)</p>
                        <h4 class="geex-content__market__single__title">@Html.DisplayFor(model => model.Descripcion)</h4>
                        <p class="geex-content__market__single__subtitle">@Html.DisplayNameFor(model => model.Descripcion)</p>
                        <h4 class="geex-content__market__single__title">@Html.DisplayFor(model => model.Sku)</h4>
                        <p class="geex-content__market__single__subtitle">@Html.DisplayNameFor(model => model.Sku)</p>
                        <h4 class="geex-content__market__single__title">@Html.DisplayFor(model => model.Cantidad)</h4>
                        <p class="geex-content__market__single__subtitle">@Html.DisplayNameFor(model => model.Cantidad)</p>
                        <h4 class="geex-content__market__single__title">@Html.DisplayFor(model => model.FechaCaducidad)</h4>
                        <p class="geex-content__market__single__subtitle">@Html.DisplayNameFor(model => model.FechaCaducidad)</p>
                        <h4 class="geex-content__market__single__title">@Html.DisplayFor(model => model.Bodega.Nombre)</h4>
                        <p class="geex-content__market__single__subtitle">@Html.DisplayNameFor(model => model.Bodega)</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <button class="geex-btn--small-center" onclick="cerrarDetalle()">Cerrar</button>
        </div>
    </div>
</div>
