@model IEnumerable<Prolimza.Models.MateriaPrima>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (!User.IsInRole("Lector"))
{
    <p>
        <a asp-action="Create" class="btn btn-primary">Crear nuevo</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sku)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaCaducidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bodega)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sku)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCaducidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bodega.IdBodega)
            </td>
            <td>
                    <a asp-action="Details" asp-route-id="@item.IdMateriaPrima">Detalles</a> |
                    @if (!User.IsInRole("Lector"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.IdMateriaPrima">Editar</a>
                        <a asp-action="Delete" asp-route-id="@item.IdMateriaPrima">Eliminar</a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
