@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="modal fade" id="reiniciarPasswordModal" tabindex="-1" aria-labelledby="reiniciarPasswordLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h5 class="modal-title" id="reiniciarPasswordLabel">@SharedLocalizer.GetLocalizedHtmlString("Reiniciar contraseña")</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="emailReset" name="email" placeholder="correo@ejemplo.com" required />
                        <label for="emailReset">@SharedLocalizer.GetLocalizedHtmlString("Correo electrónico")</label>
                    </div>
                    <div class="form-floating">
                        <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="Nueva contraseña" required />
                        <label for="newPassword">@SharedLocalizer.GetLocalizedHtmlString("Nueva contraseña")</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">@SharedLocalizer.GetLocalizedHtmlString("Confirmar")</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@SharedLocalizer.GetLocalizedHtmlString("Cancelar")</button>
                </div>
            </form>
        </div>
    </div>
</div>